  
.card{
    width: 200px;
    height: 340px;
    text-align: center;
    font-weight: bold;
   
}
.card_body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
}
.card_title{
    color: white;
    font-size: 28px;
}

.card_gern{
    color: #B171D9;
    font-size: 14px;
}
.card_img{
    display: block;
    margin: auto;
    width: 200px;
    height: 280px;
    border-radius: 15%;
}