.mainMovie {
  height: 50vh;
  width: 100vw;
  background-color: white;
  margin-bottom: 100px;
  background: url(../../img/totoroDark.png);
  background-repeat: no-repeat;
  background-size: cover;

  &_img {
      display: none;
      
    }
  
    &_body{
      
      
    .body_title {
      color: white;
    }

    .body_genre {
      font-size: 22px;
      color: white;
    }
  }
}
