@font-face {
  font-family: 'Rambla';
  src: url('../../fonts/Rambla-BoldItalic.woff2') format('woff2'),
      url('../../fonts/Rambla-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rambla';
  src: url('../../fonts/Rambla-Bold.woff2') format('woff2'),
      url('../../fonts/Rambla-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rambla';
  src: url('../../fonts/Rambla-Italic.woff2') format('woff2'),
      url('../../fonts/Rambla-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rambla';
  src: url('../../fonts/Rambla-Regular.woff2') format('woff2'),
      url('../../fonts/Rambla-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}