.slide {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  padding: 3px;
  color: #fff;
  margin: 20px 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.rec-dot {
  display: none;
}

button.rec-arrow {
  margin-left: 7px;
  margin-right: 7px;
  background: #13131C;
}

button.rec-arrow:hover:enabled {
  background: #13131C;
}
