.slide {
    width: 250px;
    height: 50vh;
    border-radius: 10px;
    padding: 3px;
    color: #fff;
    margin: 20px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}