.slider {
    border : 1px solid red;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.slide {
    border:1px solid blue;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;

}
%btn-styles {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
}
#goLeft {
    left:0;
    @extend %btn-styles;
}
#goRight{
    right: 0;
    @extend %btn-styles

}

